<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>explore</string>
		<key>item</key>
		<array>
			<dict>
				<key>title</key>
				<string>home</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>myCollection</string>
				<key>icon</key>
				<string>myCollection</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>followers</string>
				<key>icon</key>
				<string>Followers</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>followings</string>
				<key>icon</key>
				<string>Following</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>settings</string>
		<key>item</key>
		<array>
			<dict>
				<key>title</key>
				<string>rateUs</string>
				<key>icon</key>
				<string>rateUs</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>feedback</string>
				<key>icon</key>
				<string>feedback</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>logout</string>
				<key>icon</key>
				<string>logout</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
