<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>upgrade</string>
		<key>item</key>
		<array>
			<dict>
				<key>title</key>
				<string>removeAdd</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>restore</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>settings</string>
		<key>item</key>
		<array>
			<dict>
				<key>title</key>
				<string>setPassword</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>changePassword</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>feedback</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>rateUs</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>tellUsFriend</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>ourApplication</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>clearCatch</string>
		<key>item</key>
		<array>
			<dict>
				<key>title</key>
				<string>clearCatch</string>
				<key>icon</key>
				<string>home</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
